@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OpenSans";
    src: url("../public/fonts/OpenSans-VariableFont.ttf");
}

@font-face {
    font-family: "NovaSquare";
    src: url("../public/fonts/NovaSquare-Regular.ttf");
}